<!DOCTYPE html>
<html>
  <head>
    <title>Doctors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="topnav">
        <% if current_user.is_doctor %>
          <%= link_to "Add Availability", new_availability_path %>
          <%= link_to "Appointments", appointments_path %>
        <% else %>
          <%= link_to "Create Appointment", new_appointment_path %>
          <%= link_to "Appointment List", appointments_path %>
        <% end %>

          <%= link_to "Home", root_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

    <% if flash.present? %>
      <%= flash.alert %>
    <% end %>
    <%= yield %>
  </body>
</html>
